@font-face {
    font-family: ralewayRegular;
    src: url('fonts/raleway/ralewayRegular/Raleway.eot');
    src: url('fonts/raleway/ralewayRegular/Raleway.svg');
    src: url('fonts/raleway/ralewayRegular/Raleway.ttf');
    src: url('fonts/raleway/ralewayRegular/Raleway.woff');
}

body {
    background-image: url('../components/adminDashboard/assets/adminDashboardBackgroundImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.signOutButtonContainer {
    position: fixed;
    top: 10px;
    right: 5%;
    width: fit-content;
}

.signOutButtonImage {
    cursor: pointer;
    width: 45px;
}

.signOutButtonImage:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.noCreatedFieldsText {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.footerButton, .footerButton:target, .footerButton:visited {
    width: fit-content;
    background-color: transparent !important;
    border: 1px rgba(255, 255, 255, 0.5) solid !important;
    height: 42px;
    margin: 0 30px !important;
    outline-style: none;
    border-radius: 25px;
    font-family: ralewayRegular;
    font-size: 19px;
    line-height: 0;
    letter-spacing: 2px;
    color: white !important;

}

.footerButton:active {
    color: grey !important;
}

.footerButton:hover, .footerButton:focus {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border: 1px transparent solid;
    border-radius: 25px !important;
    outline-style: none !important;
    color: white !important;
}

.noCreatedFieldButtonContainer {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.newExpanseFormPanelContainer > .panel-heading {
    color: white;
    font-family: ralewayRegular;
    font-size: 43px;
    text-align: center;
    letter-spacing: 3px;
    padding: 0;
    background: transparent;
    border: none;

}

.newExpanseFormPanelContainer {
    background: transparent;
    border: none;
}

.newExpanseFormPanelContainer > .panel-body {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px rgba(255, 255, 255, 0.5) solid !important;
    border-radius: 25px;
}

.newExpanseFormFieldsContainer {
    margin: 15px 40px;
}

.Select.Select--single.is-searchable {
    z-index: 10;
}

.newExpenseFormFieldContainer {
    margin-bottom: 25px;
    width: 267px;
}

.newExpenseFormLabelsTitle {
    font-family: ralewayRegular;
    color: #000;
    padding-bottom: 5px;
}

.newExpenseFormErrorMessage {
    color: #960000;
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-family: ralewayRegular;
    font-weight: 600;
}

.expenseListTableContainer {
    color: white;
}

.expenseListTableContainer.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.expenseListTableContainer.table-striped > tbody > tr {
    background-color: rgba(0, 0, 0, 0.7);
}

.expenseListTableLastColumn {
    position: relative;
}

.expenseListTableContainer.table-striped > tbody > tr > td.expenseListTableLastColumn > .expenseRemoveButton {
    position: absolute;
    right: 2px;
    top: 2px;
    background: transparent;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    font-family: ralewayRegular;
    color: #ffffff;
    font-size: 10px;
    padding: 0 5px 0 5px;
    text-decoration: none;
    font-weight: bold;
}

.expenseListTableContainer.table-striped > tbody > tr:nth-of-type(odd) > td.expenseListTableLastColumn > .expenseRemoveButton {
    position: absolute;
    right: 2px;
    top: 2px;
    background: transparent;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    font-family: ralewayRegular;
    color: black;
    font-size: 10px;
    padding: 0 5px 0 5px;
    text-decoration: none;
    border-color: black;
    font-weight: bold;
}

.expenseListTableContainer.table-striped > tbody > tr > td.expenseListTableLastColumn > .expenseRemoveButton:hover {
    background: rgba(255, 255, 255, 0.7);
    color: black;
    text-decoration: none;
}
.expenseListTableContainer.table-striped > tbody > tr:nth-of-type(odd)  > td.expenseListTableLastColumn > .expenseRemoveButton:hover {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-decoration: none;
}